#
*
!config
!config/**
/config/splash.properties
/config/CustomSpawner
/config/CustomSpawner/**
/config/jei
/config/jei/**
/config/InvTweaks
/config/InvTweaks/**
!scripts
!scripts/**
!structures
!structures/**
resourcepacks
!resourcepacks/AntiqueAtlasExtra-v1.2
!mods
!/mods/**
!README.md
config/dimensionalcontrol/documentation/*