#
*
!config
!config/**
/config/splash.properties
/config/CustomSpawner/logs
/config/jei
/config/jei/**
/config/InvTweaks
/config/InvTweaks/**
!scripts
!scripts/**
!resourcepacks
resourcepacks/**
!resourcepacks/AntiqueAtlasExtra-v1.2
!resourcepacks/lycanites_redux_6.0.1
!resourcepacks/Better Vanilla - HardcoreDarkness
!resourcepacks\Clear+Glass+Pack+1.11+or+1.12.zip
!mods
!/mods/**
!/structures/**
!/structures
!README.md
/config/UniqueNames.txt
/config/globalgamerules.cfg 
/config/dimensionalcontrol/documentation/*
/config/CustomSpawner/logs
/config/CustomSpawner/logs/**