#
*
!config
!config/**
/config/splash.properties
!config/CustomSpawner
!config/CustomSpawner/**
/config/jei
/config/jei/**
/config/InvTweaks
/config/InvTweaks/**
!scripts
!scripts/**
!resourcepacks
!resourcepacks/**
!mods
!/mods/**
!/structures/**
!/structures
!README.md
/config/UniqueNames.txt
/config/globalgamerules.cfg 
/config/dimensionalcontrol/documentation/*
/config/CustomSpawner/logs
/config/CustomSpawner/logs/**